// Base de botones
%btn-base {
  padding: $space-sm $space-md;
  border-radius: $radius-md;
  font-weight: 600;
  cursor: pointer;
  border: none;
  transition: .3s ease;
  font-family: $font-main;
}
