.grid-3 {
  .card, .piloto-card, .circuito-card {
  margin-bottom: 1.2rem;
}

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $space-lg;

  @include respond(mobile) {
    grid-template-columns: 1fr;
  }
}

body {
  background-color: #e5e5e5;
}

main {
  padding-top: 60px;
}
