// CARDS DE CIRCUITOS
.circuito-card {
  border: none;
  border-radius: $radius-md;
  overflow: hidden;
  background: white;
  @include soft-shadow;
  transition: transform 0.25s ease;

  .card-body {
    padding: $space-md;

    h5 {
      font-weight: 700;
      margin-bottom: $space-sm;
    }

    p {
      font-size: 0.95rem;
      margin-bottom: $space-sm;
    }

    small {
      color: #666;
    }
  }

  &:hover {
    transform: translateY(-5px);
  }
}

// BANDERAS
.flag-icon {
  width: 55px;
  height: 35px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: $space-sm;
  border: 2px solid #ddd;
}

// FORMULARIO
.formulario {
  background: $color-light;
  padding: 3rem 1.5rem;
  margin-top: 4rem;
  border-radius: $radius-md;

  h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 700;
    color: $color-dark;
  }

  form {
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    input,
    textarea {
      padding: 0.7rem;
      border-radius: $radius-sm;
      border: 1px solid #bbb;
      font-size: 1rem;
      width: 100%;
      background: white;
    }

    button {
      @extend %btn-base;
      background: $color-primary;
      color: white;
      width: fit-content;
      padding: 0.6rem 1.2rem;
      margin: auto;

      &:hover {
        background: darken($color-primary, 10%);
      }
    }
  }
}
