h1, h2, h3, h4, h5 {
  font-weight: 700;
  color: $color-dark;
}

p {
  color: $color-dark;
  line-height: 1.6;
}

.calendario-titulo {
  font-size: 2.8rem;
  font-weight: 700;
  color: #c62828; // rojo tipo F1
  margin-bottom: 3rem;
  text-align: center;
}

h1, h2, h3 {
  opacity: 0;
  transform: translateY(20px);
  transition: 0.6s ease;

  &.in-view {
    opacity: 1;
    transform: translateY(0);
  }
}
